/target/
/bin/
/logs/
.settings/
.project
.classpath
rebel.xml
MANIFEST.MF
/.project
*.class
 
# Package Files #
*.jar
*.war
*.ear
/target
/.settings
/.classpath
/.project
/target
/.metadata
/.recommenders

.DS_Store
.idea
*.iml


